<!DOCTYPE HTML>
<html data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <meta name="description" content="Recent Earthquakes around the world">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <meta name="robots" content="index, nofollow">
    <title>Earthquakes</title>
  </head>
  <body>
    <div class="container">
      <div class="container">
        <img class="banner" src="/static/eq-banner.jpg" alt="banner">
        <div class="bottom-right">Earthquakes</div>
      </div>
      
      <label for="EQs">Earthquakes</label>
      <table id = "EQs">
        <col width="30%" />
        <col width="40%" />
        <col width="10%" />
        <col width="20%" />
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Place</th>
            <th scope="col">Magnitude</th>
            <th class="right-align" scope="col">More Info</th>
          </tr>
        </thead>
        <tbody id="earthquakes">
          {% for eq in earthquakes %}
            <tr>
              <td>{{eq["time"]}}</td>  
              <td>{{eq["place"]}}</td>  
              <td>{{eq["mag"]}}</td>  
              <td class="right-align"><a href="{{eq['link']}}" target="_blank">More Info</a></td>  
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
      var source = new EventSource("{{ url_for('sse.stream') }}");
      var lastGuid = "0" // Prevent earthquake from being shown multiple times
      source.addEventListener('publish', function(event) {
          var data = JSON.parse(event.data)
          if(data.message != "keep-alive" && data.message.guid != lastGuid){
            lastGuid = data.message.guid
            console.log(`Earthquake reported ${data.message.time} - ${data.message.place}` )
            document.getElementById("earthquakes").innerHTML = 
            `<tr>
                <td>${data.message.time}</td>  
                <td>${data.message.place}</td>  
                <td>${data.message.mag}</td>  
                <td class="right-align"><a href="${data.message.link}" target="_blank">More Info</a></td>  
              </tr>`
            + document.getElementById("earthquakes").innerHTML
            }
          },true);
  </script>
  </body>
</html>
